<!DOCTYPE html>
<html lang="en" class="light-style layout-navbar-fixed layout-menu-fixed layout-compact " dir="ltr" data-theme="theme-default" data-assets-path="/theme/assets/" data-template="vertical-menu-template" data-style="light">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

	<title>@ViewData["Title"] - ProductMS</title>

	<meta name="description" content="QHRM assignment for product CRUD" />
	<meta name="keywords" content="qhrm assignment, product management, product crud,">
	@await Html.PartialAsync("Theme/_Styles")
</head>

<body class="hold-transition sidebar-mini layout-fixed  layout-navbar-fixed layout-footer-fixed">
	<div class="wrapper">

		<div class="preloader flex-column justify-content-center align-items-center">
		</div>

		@await Html.PartialAsync("Theme/_Header")
		@await Html.PartialAsync("Theme/_SideMenu")

		<div class="content-wrapper">
			@RenderBody()
		</div>

		@await Html.PartialAsync("Theme/_Footer")

		@await Html.PartialAsync("Theme/_Scripts")
		@RenderSection("Scripts", required: false)
	</div>
</body>
</html>
